<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>物业管理系统</title>
		<meta name="description" content="description">
		<meta name="author" content="kangbiao">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
		<link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="css/font-awesome.css" rel="stylesheet">
		<!--<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>-->
		<link href="plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
		<link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
		<link href="plugins/xcharts/xcharts.min.css" rel="stylesheet">
		<link href="plugins/select2/select2.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
		<!--<style>-->
			<!--tr td,tr th-->
			<!--{-->
				<!--text-align: center;-->
			<!--}-->
		<!--</style>-->
	</head>
<body>
<!--Start Header-->
<div id="screensaver">
	<canvas id="canvas"></canvas>
	<i class="fa fa-lock" id="screen_unlock"></i>
</div>
<div id="modalbox">
	<div class="devoops-modal">
		<div class="devoops-modal-header">
			<div class="modal-header-name">
				<span>Basic table</span>
			</div>
			<div class="box-icons">
				<a class="close-link">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="devoops-modal-inner">
		</div>
		<div class="devoops-modal-bottom">
		</div>
	</div>
</div>
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-2">
				<a href="index.html">物业管理系统</a>
			</div>
			<div id="top-panel" class="col-xs-12 col-sm-10">
				<div class="row">
					<div class="col-xs-8 col-sm-4">
						<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
						<div id="search">
							<input type="text" placeholder="search"/>
							<i class="fa fa-search"></i>
						</div>
					</div>
					<div class="col-xs-4 col-sm-8 top-panel-right">
						<ul class="nav navbar-nav pull-right panel-menu">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle account" data-toggle="dropdown">
									<div class="avatar">
										<img src="img/avatar.jpg" class="img-rounded" alt="avatar" />
									</div>
									<i class="fa fa-angle-down pull-right"></i>
									<div class="user-mini pull-right">
										<span class="welcome">欢迎您,</span>
										<span>康彪</span>
									</div>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											<span>个人资料</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-cog"></i>
											<span>个人设置</span>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-power-off"></i>
											<span>登出</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" style="position: fixed;" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="ajax/dashboard.html" class="active ajax-link">
						<i class="fa fa-dashboard"></i>
						<span class="hidden-xs">系统首页</span>
					</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-users"></i>
						<span class="hidden-xs">用户管理</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/ownerList.html">业主</a></li>
						<li><a class="ajax-link" href="ajax/tenantList.html">租户</a></li>
						<li><a class="ajax-link" href="ajax/appUserList.html">APP用户</a></li>
						<li><a class="ajax-link" href="ajax/authenticatedUserList.html">授权用户</a></li>
						<!--<li><a class="ajax-link" href="ajax/charts_flot.html">app登陆账号管理</a></li>-->
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-building-o"></i>
						<span class="hidden-xs">物业管理</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/propertyList.html">物业查看</a></li>
						<li><a class="ajax-link" href="ajax/shopList.html">商户管理</a></li>
						<!--<li><a class="ajax-link" href="ajax/charts_flot.html">app登陆账号管理</a></li>-->
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-cny"></i>
						 <span class="hidden-xs">缴费管理</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/estateFeeInfo.html">缴费清单</a></li>
						<li><a class="ajax-link" href="ajax/estateList.html">物业费</a></li>
						<li><a class="ajax-link" href="ajax/serviceFeeList.html">服务费</a></li>
						<li><a class="ajax-link" href="ajax/parkingLotFeeList.html">车位费</a></li>
						<!--<li><a class="ajax-link" href="#">生成和推送配置</a></li>-->
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bullseye"></i>
						 <span class="hidden-xs">车位管理</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/parkingLotList.html">车位信息列表</a></li>
						<li><a class="ajax-link" href="ajax/parkingLotAdd.html">增加车位信息</a></li>
					</ul>
				</li>
				<!--<li class="dropdown">-->
					<!--<a href="#" class="dropdown-toggle">-->
						<!--<i class="fa fa-desktop"></i>-->
						 <!--<span class="hidden-xs">物业服务</span>-->
					<!--</a>-->
					<!--<ul class="dropdown-menu">-->
						<!--<li><a class="ajax-link" href="ajax/serviceList.html">服务项目</a></li>-->
						<!--<li><a class="ajax-link" href="ajax/serviceAdd.html">新增服务</a></li>-->
						<!--<li><a class="ajax-link" href="ajax/serviceLog.html">服务记录</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-bullhorn"></i>
						<span class="hidden-xs">公告管理</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/noticeAdd.html">新增公告</a></li>
						<li><a class="ajax-link" href="ajax/noticeList.html">历史公告</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-wrench"></i>
						<span class="hidden-xs">投诉报修</span>
					</a>
					<ul class="dropdown-menu">
						<li><a class="ajax-link" href="ajax/complain.html">投诉</a></li>
						<li><a class="ajax-link" href="ajax/repair.html">报修</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-exchange"></i>
						<span class="hidden-xs">数据导入</span>
					</a>
					<ul class="dropdown-menu">
                        <li class="dropdown">
							<a href="#" class="dropdown-toggle">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs">密钥配置</span>
							</a>
							<ul class="dropdown-menu">
								<li><a class="ajax-link" href="ajax/secretConfig.html">密钥导入</a></li>
								<li><a class="ajax-link" href="ajax/secretList.html">密钥查看</a></li>
							</ul>
						</li>
						<li><a class="ajax-link" href="ajax/dashboard.html">物业信息导入</a></li>
						<li><a class="ajax-link" href="ajax/dashboard.html">车位信息导入</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" style="position: absolute;right: 0px" class="col-xs-12 col-sm-10">
			<div class="preloader">
				<img src="img/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
			</div>
			<div id="ajax-content"></div>
		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="plugins/tinymce/tinymce.min.js"></script>
<script src="plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->

<script src="js/config.js"></script>

<script src="js/devoops.js"></script>
</body>
</html>
