<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">物业费管理</a></li>
			<li><a href="#">缴费清单</a></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<button id="generateBillBtn" class="btn btn-info">一键生成账单</button>
				</div>
				<div class="box-icons">
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable"
					   id="billListTable">
					<thead>
						<tr>
							<th>序号</th>
							<th>物业编号</th>
							<th>业主信息</th>
							<th>所属园区</th>
							<th>总费用</th>
							<th>生成时间</th>
							<th>是否缴费</th>
							<th>账单详情</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>序号</th>
							<th>物业编号</th>
							<th>业主信息</th>
							<th>所属园区</th>
							<th>总费用</th>
							<th>生成时间</th>
							<th>是否缴费</th>
							<th>账单详情</th>
							<th>操作</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" id="feeInfoModel1">
	<div class="modal-dialog" role="document" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="">费用详细信息</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h3>最近账单</h3>
							<ul class="list-group">
								<li class="list-group-item">水电费:20</li>
								<li class="list-group-item">煤气费:30</li>
								<li class="list-group-item">维护费:90</li>
							</ul>
							<h3>历史账单</h3>
							该物业暂无历史账单
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<div class="modal fade" role="dialog" id="feeInfoModel2">
	<div class="modal-dialog" role="document" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">费用详细信息</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h3>费用构成</h3>
							<ul class="list-group" id="ownerInfo">
								<li class="list-group-item">水电费:50</li>
								<li class="list-group-item">煤气费:100</li>
								<li class="list-group-item">维护费:10</li>
								<li class="list-group-item">服务费:10</li>
								<li class="list-group-item">增值费:100</li>
							</ul>
							<h3>历史账单</h3>
							该物业暂无历史账单
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!
</div>
<script type="text/javascript">
	var editTable;

	$("#generateBillBtn").click(function(){
		var con=confirm("确定您的操作?\n手动生成的账单为临时账单,不影响最后结算");
		var thisObject=$(this);
		if(con)
		{
			thisObject.html('正在生成中<i class="fa fa-spinner fa-spin">');
			$.ajax({
				type: "post",
				async: true,
				url: urlConfig.generateAllBill,
				dataType: "json",
				success: function (result) {
					if (result.status) {
						editTable.ajax.reload( null, false );
						alert("生成成功");
						thisObject.html('一键生成账单');
					}
					else
					{
						alert(result.errorMsg.description);
						thisObject.html('一键生成账单');
					}
				},
				error: function () {
					alert("服务器连接失败,请重试!");
					thisObject.html('一键生成账单');
				}
			});
		}
	});

	$("#button1").on('click',function(){
		$("#feeInfoModel1").modal("show");
	});
	$("#button2").click(function(){
		$("#feeInfoModel2").modal("show");
	});
	$("#button3").click(function(){
		alert("催缴信息发送成功!");
	});

	//初始化表格数据
	function initDataTable(){
		editTable=$('#billListTable').DataTable({
			"processing":true,
			"serverSide": true,
			"ajax":{
				"url": urlConfig.getBillList,
				"dataSrc": "jsonString"
			},
			"columnDefs": [{
				"targets": 0,
				"data":"id",
				"visible": false,
				"orderable": false,
				"searchable": false
			},{
				"targets": 1,
				"data":"propertyId",
				"visible": true,
				"orderable": false,
				"searchable": false

			},{
				"targets": 2,
				"data":"propertyId",
				"visible": true,
				"orderable": false,
				"searchable": false
			},{
				"targets": 3,
				"data":"propertyId",
				"visible": true,
				"orderable": false,
				"searchable": false
			},{
				"targets": 4,
				"data":"feeItemFee",
				"visible": true,
				"orderable": false,
				"searchable": false
			},{
				"targets": 5,
				"data": "billGenerationTime",
				"orderable": false,
				"searchable": false
			},{
				"targets": 6,
				"data": "payStatus",
				"orderable": false,
				"searchable": false,
				"render": function ( data, type, row ) {
					if (data==0)
						return "<font color='red'>未缴费</font>";
					else if (data==1)
						return "<font color='green'>已缴费</font>";
					else
						return "--";
				}
			},{
				"targets": 7,
				"data": null,
				"orderable": false,
				"searchable": false,
				"defaultContent":
						"<button id='detailRowBtn' class='btn btn-primary' type='button'>查看</button>"
			},{
				"targets": 8,
				"data": "payStatus",
				"orderable": false,
				"searchable": false,
				"render": function ( data, type, row ) {
					if (data==0)
						return "<button id='detailRowBtn' class='btn btn-primary' type='button'>催缴</button>";
					else
						return "--";
				}
			}],
			"aaSorting": [[ 1, "asc" ]],
			"autoWidth":false,
			"sDom":
					"<'box-content'<'col-sm-6'f><'col-sm-6 text-right'l><'clearfix'>>tr<'box-content'<'col-sm-6'i><'col-sm-6 text-right'p><'clearfix'>>",
			"language": {
				"emptyTable":     "没有相关数据",
				"info": "显示 _START_ 到 _END_ 条, 共 _TOTAL_ 条记录",
				"infoEmpty":      "没有相关数据",
				"infoFiltered":   "(筛选自 _MAX_ 条记录)",
				"infoPostFix":    "",
				"thousands":      ",",
				"lengthMenu":     "每页显示 _MENU_ 条",
				"loadingRecords": "加载中",
				"processing":     "数据处理中",
				"search":         "搜索:",
				"zeroRecords":    "没有找到匹配数据",
				"paginate": {
					"first":      "首页",
					"last":       "末页",
					"next":       "下一页",
					"previous":   "上一页"
				},
				"aria": {
					"sortAscending":  ":正序",
					"sortDescending": ":倒序"
				}
			}
		});
	}
$(document).ready(function() {
	LoadDataTablesScripts(initDataTable);
});
</script>