<div class="row">
	<div id="breadcrumb" class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="#">物业费管理</a></li>
			<li><a href="#">缴费清单</a></li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-icons">
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
					<thead>
						<tr>
							<th>序号</th>
							<th>物业编号</th>
							<th>业主信息</th>
							<th>所属园区</th>
							<th>总费用</th>
							<th>生成时间</th>
							<th>是否缴费</th>
							<th>账单详情</th>
							<th>住户信息</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<!-- Start: list_row -->
					<tr>
						<td>1</td>
						<td>b302</td>
						<td>小明-15114052120</td>
						<td>location1</td>
						<td>140</td>
						<td>2015-3-4</td>
						<td><font color="red">未缴</font></td>
						<td><button id='button1' class='btn btn-primary' type='button'>查看</button></td>
						<td><button class='btn btn-primary' type='button'>查看</button></td>
						<td><button id='button3' class='btn btn-primary' type='button'>催缴</button></td>
					</tr>
					<tr>
						<td>2</td>
						<td>c405</td>
						<td>小红-1653882379</td>
						<td>location1</td>
						<td>270</td>
						<td>2015-3-4</td>
						<td><font color="green">已缴</font></td>
						<td><button id='button2' class='btn btn-primary' type='button'>查看</button></td>
						<td><button class='btn btn-primary' type='button'>查看</button></td>
						<td><button id='delRow' class='btn btn-primary' type='button'>--</button></td>
					</tr>
					<!-- End: list_row -->
					</tbody>
					<tfoot>
						<tr>
							<th>序号</th>
							<th>物业编号</th>
							<th>业主信息</th>
							<th>所属园区</th>
							<th>总费用</th>
							<th>生成时间</th>
							<th>是否缴费</th>
							<th>账单详情</th>
							<th>住户信息</th>
							<th>操作</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" role="dialog" id="feeInfoModel1">
	<div class="modal-dialog" role="document" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="">费用详细信息</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h3>最近账单</h3>
							<ul class="list-group">
								<li class="list-group-item">水电费:20</li>
								<li class="list-group-item">煤气费:30</li>
								<li class="list-group-item">维护费:90</li>
							</ul>
							<h3>历史账单</h3>
							该物业暂无历史账单
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<div class="modal fade" role="dialog" id="feeInfoModel2">
	<div class="modal-dialog" role="document" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="">费用详细信息</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<h3>费用构成</h3>
							<ul class="list-group" id="ownerInfo">
								<li class="list-group-item">水电费:50</li>
								<li class="list-group-item">煤气费:100</li>
								<li class="list-group-item">维护费:10</li>
								<li class="list-group-item">服务费:10</li>
								<li class="list-group-item">增值费:100</li>
							</ul>
							<h3>历史账单</h3>
							该物业暂无历史账单
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!
</div>
<script type="text/javascript">
	$("#button1").on('click',function(){
		$("#feeInfoModel1").modal("show");
	});
	$("#button2").click(function(){
		$("#feeInfoModel2").modal("show");
	});
	$("#button3").click(function(){
		alert("催缴信息发送成功!");
	});

$(document).ready(function() {
});
</script>