<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">用户资料录入</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-icons">
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="adduserForm" method="post" action="" class="form-horizontal">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公告标题</label>

                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="userCode"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公告描述</label>

                            <div class="col-sm-6">
                                <textarea class="form-control" name="ddd" id="" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公告详情</label>

                            <div class="col-sm-6">
                                <div tabindex="-1" hidefocus="1" class="mce-tinymce mce-container mce-panel"
                                     id="mce_129" style="visibility: hidden; border-width: 1px;">
                                    <div class="mce-container-body mce-stack-layout" id="mce_129-body">
                                        <div role="menubar"
                                             class="mce-container mce-menubar mce-toolbar mce-first mce-stack-layout-item"
                                             id="mce_130" style="border-width: 0px 0px 1px;">
                                            <div class="mce-container-body mce-flow-layout" id="mce_130-body">
                                                <div tabindex="-1"
                                                     class="mce-widget mce-btn mce-menubtn mce-first mce-flow-layout-item mce-toolbar-item"
                                                     id="mce_131" role="menuitem" aria-haspopup="true"
                                                     aria-expanded="false">
                                                    <button tabindex="-1" type="button" role="presentation"
                                                            id="mce_131-open"><span>File</span> <i
                                                            class="mce-caret"></i></button>
                                                </div>
                                                <div tabindex="-1"
                                                     class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-toolbar-item"
                                                     id="mce_132" role="menuitem" aria-haspopup="true"
                                                     aria-expanded="false">
                                                    <button tabindex="-1" type="button" role="presentation"
                                                            id="mce_132-open"><span>Edit</span> <i
                                                            class="mce-caret"></i></button>
                                                </div>
                                                <div tabindex="-1"
                                                     class="mce-widget mce-btn mce-menubtn mce-flow-layout-item mce-toolbar-item"
                                                     id="mce_133" role="menuitem" aria-haspopup="true"
                                                     aria-expanded="false">
                                                    <button tabindex="-1" type="button" role="presentation"
                                                            id="mce_133-open"><span>View</span> <i
                                                            class="mce-caret"></i></button>
                                                </div>
                                                <div tabindex="-1"
                                                     class="mce-widget mce-btn mce-menubtn mce-last mce-flow-layout-item mce-toolbar-item"
                                                     id="mce_134" role="menuitem" aria-haspopup="true"
                                                     aria-expanded="true">
                                                    <button tabindex="-1" type="button" role="presentation"
                                                            id="mce_134-open"><span>Format</span> <i
                                                            class="mce-caret"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div tabindex="-1" hidefocus="1"
                                             class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item"
                                             id="mce_135">
                                            <div class="mce-container-body mce-stack-layout" id="mce_135-body">
                                                <div role="toolbar"
                                                     class="mce-container mce-toolbar mce-first mce-last mce-stack-layout-item"
                                                     id="mce_136">
                                                    <div class="mce-container-body mce-flow-layout" id="mce_136-body">
                                                        <div class="mce-container mce-first mce-flow-layout-item mce-btn-group"
                                                             id="mce_137" role="toolbar">
                                                            <div id="mce_137-body">
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-first"
                                                                     id="mce_116" role="button"
                                                                     aria-labelledby="mce_116" aria-label="Undo"
                                                                     aria-disabled="false">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-undo"></i></button>
                                                                </div>
                                                                <div tabindex="-1"
                                                                     class="mce-widget mce-btn mce-last mce-disabled"
                                                                     id="mce_117" role="button"
                                                                     aria-labelledby="mce_117" aria-label="Redo"
                                                                     aria-disabled="true">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-redo"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_138" role="toolbar">
                                                            <div id="mce_138-body">
                                                                <div tabindex="-1"
                                                                     class="mce-widget mce-btn mce-menubtn mce-first mce-last"
                                                                     id="mce_118" role="button" aria-haspopup="true">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation" id="mce_118-open"><span>Formats</span>
                                                                        <i class="mce-caret"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_139" role="toolbar">
                                                            <div id="mce_139-body">
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-first"
                                                                     id="mce_119" role="button"
                                                                     aria-labelledby="mce_119" aria-label="Bold">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-bold"></i></button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-last"
                                                                     id="mce_120" role="button"
                                                                     aria-labelledby="mce_120" aria-label="Italic"
                                                                     aria-pressed="false">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-italic"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_140" role="toolbar">
                                                            <div id="mce_140-body">
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-first"
                                                                     id="mce_121" role="button"
                                                                     aria-labelledby="mce_121" aria-label="Align left">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-alignleft"></i>
                                                                    </button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn"
                                                                     id="mce_122" role="button"
                                                                     aria-labelledby="mce_122"
                                                                     aria-label="Align center">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-aligncenter"></i>
                                                                    </button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn"
                                                                     id="mce_123" role="button"
                                                                     aria-labelledby="mce_123" aria-label="Align right">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-alignright"></i>
                                                                    </button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-last"
                                                                     id="mce_124" role="button"
                                                                     aria-labelledby="mce_124" aria-label="Justify">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-alignjustify"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_141" role="toolbar">
                                                            <div id="mce_141-body">
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-first"
                                                                     id="mce_125" role="button"
                                                                     aria-labelledby="mce_125" aria-label="Bullet list">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-bullist"></i></button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn"
                                                                     id="mce_126" role="button"
                                                                     aria-labelledby="mce_126"
                                                                     aria-label="Numbered list">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-numlist"></i></button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn"
                                                                     id="mce_127" role="button"
                                                                     aria-labelledby="mce_127"
                                                                     aria-label="Decrease indent">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-outdent"></i></button>
                                                                </div>
                                                                <div tabindex="-1" class="mce-widget mce-btn mce-last"
                                                                     id="mce_128" role="button"
                                                                     aria-labelledby="mce_128"
                                                                     aria-label="Increase indent">
                                                                    <button tabindex="-1" type="button"
                                                                            role="presentation"><i
                                                                            class="mce-ico mce-i-indent"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_142" role="toolbar">
                                                            <div id="mce_142-body"></div>
                                                        </div>
                                                        <div class="mce-container mce-flow-layout-item mce-btn-group"
                                                             id="mce_143" role="toolbar">
                                                            <div id="mce_143-body"></div>
                                                        </div>
                                                        <div class="mce-container mce-last mce-flow-layout-item mce-btn-group"
                                                             id="mce_144" role="toolbar">
                                                            <div id="mce_144-body"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div tabindex="-1" hidefocus="1"
                                             class="mce-edit-area mce-container mce-panel mce-stack-layout-item"
                                             id="mce_145" style="border-width: 1px 0px 0px;">
                                            <iframe frameborder="0" id="wysiwig_simple_ifr"
                                                    src="javascript:&quot;&quot;" allowtransparency="true"
                                                    title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help"
                                                    style="width: 100%; height: 119px; display: block;"></iframe>
                                        </div>
                                        <div tabindex="-1" hidefocus="1"
                                             class="mce-statusbar mce-container mce-panel mce-last mce-stack-layout-item"
                                             id="mce_146" style="border-width: 1px 0px 0px;">
                                            <div class="mce-container-body mce-flow-layout" id="mce_146-body">
                                                <div class="mce-path mce-first mce-flow-layout-item" id="mce_147">
                                                    <div id="mce_147-0" tabindex="-1" data-index="0"
                                                         class="mce-path-item mce-last" role="button">p
                                                    </div>
                                                </div>
                                                <div class="mce-last mce-flow-layout-item mce-resizehandle"
                                                     id="mce_148"><i class="mce-ico mce-i-resize"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <textarea id="wysiwig_simple" rows="5" class="form-control" style="display: none;"
                                          aria-hidden="true" data-original-title="" title=""></textarea>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label">失效时间</label>
                            <div class="col-sm-6">
                                <input type="text" id="liveDate" class="form-control" placeholder="">
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //选择所属园区
    function selectEstate() {
        $('#whichEstate').select2();
        $.getScript('plugins/select2/select2_locale_zh-CN.js');
    }
    function userAddValidator() {
        $('#adduserForm').bootstrapValidator({
            message: '存在非法输入',
            fields: {
                username: {
                    message: '用户名不合法',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 10,
                            message: '用户名在2到10个字符之间'
                        }
                    }
                },
                address: {
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        }
                    }
                },
                carNum: {
                    validators: {
                        notEmpty: {
                            message: '车牌号不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9a-zA-Z]{5}(;[0-9a-zA-Z]{5})*$/,
                            message: '车牌号不合法'
                        }
                    }
                },
                phoneNumber: {
                    validators: {
                        notEmpty: {
                            message: '电话号码不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]{8,11}$/,
                            message: '电话号码不合法'
                        }
                    }
                }
            }
        });
    }
    $(document).ready(function () {
        //初始化日期选择器
        TinyMCEStart('#wysiwig_simple', null);
        $('#liveDate').datepicker({
            setDate: new Date(), dateFormat: "yy-mm-dd",
            showButtonPanel: true,
            closeText: "关闭",
            yearSuffix: '年',
            currentText: '今天',
            showMonthAfterYear: true,
            monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
            dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
            dayNamesMin: ['日', '一', '二', '三', '四', '五', '六']
        });
        LoadSelect2Script(selectEstate);
        LoadBootstrapValidatorScript(userAddValidator);
    });
</script>
