<link href="css/buttons.dataTables.min.css" rel="stylesheet">
<link href="css/select.dataTables.min.css" rel="stylesheet">

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">公告管理</a></li>
            <li><a href="#">历史公告</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-icons">
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                <table class="display table table-bordered table-striped table-hover table-heading table-datatable"
                       id="estateListTable">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>公告标题</th>
                        <th>发布时间</th>
                        <th>失效时间</th>
                        <th>详细</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>序号</th>
                        <th>公告标题</th>
                        <th>发布时间</th>
                        <th>失效时间</th>
                        <th>详细</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="noticeModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">公告详细信息</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <h2 id="title"></h2>
                    <p id="description"></p>
                    <div class="row">
                        <div class="col-md-12" id="content">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    var editTable;//全局的datatable变量

    //删除数据
    $('#estateListTable').on( 'click', 'button#delrow', function () {
        var comfirm=confirm("确定删除该公告?");
        if(comfirm) {
            var data = editTable.row($(this).parents('tr')).data();

            $.ajax({
                type: "get",
                async: false,
                url: urlConfig.noticeDelete+"/"+data["noticeId"],
                dataType: "json", //返回数据形式为json
                success: function (result) {
                    if (result.status) {
                        alert("删除成功!");
                        editTable.row($(this)).remove().draw(false);
                    } else {
                        alert(result.errorMsg.description);
                    }
                },
                error: function () {
                    alert("服务器连接失败,请重试!");
                }
            });
        }
    });

    //初始化表格数据
    function initDataTable(){
        editTable=$('#estateListTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax":{
                "url": urlConfig.noticeList,
                "dataSrc": "jsonString"
            },
            "columnDefs": [{
                "targets": -1,//删除
                "data": null,
                "orderable": false,
                "searchable": false,
                "defaultContent":
                        "<button id='delrow' class='btn btn-primary' type='button'>删除</button>"
            },{
                "targets": -2,//删除
                "data": null,
                "orderable": false,
                "searchable": false,
                "defaultContent":
                        "<button id='moreinfo' class='btn btn-primary' type='button'>查看</button>"
            },{
                "targets": 0,
                "data": "noticeId",
                "visible": false,
                "orderable": false,
                "searchable": false

            },{
                "targets": 1,
                "data": "title",
                "visible": true,
                "orderable": true,
                "searchable": true

            },{
                "targets": 2,
                "data": "time",
                "visible": true,
                "orderable": true,
                "searchable": true

            },{
                "targets": 3,
                "data": "expiretime",
                "visible": true,
                "orderable": true,
                "searchable": true

            }
            ],
            "order": [[ 1, "asc" ]],
            "autoWidth":false,
            "sDom":
                    "<'box-content'<'col-sm-6'f><'col-sm-6 text-right'l><'clearfix'>>rt<'box-content'<'col-sm-6'i><'col-sm-6 text-right'p><'clearfix'>>",
            "language": {
                "emptyTable":     "没有相关数据",
                "info": "显示 _START_ 到 _END_ 条, 共 _TOTAL_ 条记录",
                "infoEmpty":      "没有相关数据",
                "infoFiltered":   "(筛选自 _MAX_ 条记录)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "每页显示 _MENU_ 条",
                "loadingRecords": "加载中",
                "processing":     "数据加载中...",
                "search":         "搜索:",
                "zeroRecords":    "没有找到匹配数据",
                "paginate": {
                    "first":      "首页",
                    "last":       "末页",
                    "next":       "下一页",
                    "previous":   "上一页"
                },
                "aria": {
                    "sortAscending":  ":正序",
                    "sortDescending": ":倒序"
                }
            }
        });
        editTable.on( 'order.dt search.dt', function () {
            editTable.column(0).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
//                console.log(cell);
//                console.log(i);
            } );
        } ).draw();
        $('#estateListTable tbody').on( 'click', '#moreinfo', function () {
            var data = editTable.row( $(this).parents('tr') ).data();
            console.log(data);
            $("#noticeModal").modal("show");//弹出框show
            $("#noticeModal").find('.modal-title').text("公告详细信息");
            $("#noticeModal").find("#title").text(data['title']);
            $("#noticeModal").find("#description").text(data['description']);
            $("#noticeModal").find("#content").html(data['content']);
        } );
    }

    $(document).ready(function() {
        LoadDataTablesScripts(initDataTable);
    });
</script>
