<link href="css/buttons.dataTables.min.css" rel="stylesheet">
<link href="css/select.dataTables.min.css" rel="stylesheet">

<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">物业管理</a></li>
            <li><a href="#">物业信息</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                </div>
                <div class="box-icons">
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding">
                <table class="table table-bordered table-striped table-hover table-heading table-datatable"
                       id="propertyListTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>物业编号</th>
                        <th>物业类型</th>
                        <th>地址信息</th>
                        <th>面积</th>
                        <th>所属园区</th>
                        <th>状态</th>
                        <th>更多信息</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>id</th>
                        <th>物业编号</th>
                        <th>物业类型</th>
                        <th>地址信息</th>
                        <th>面积</th>
                        <th>所属园区</th>
                        <th>状态</th>
                        <th>更多信息</th>
                        <th>操作</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="moreInfoModel">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">物业详细信息</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>业主信息</h3>
                            <ul class="list-group" id="ownerInfo">

                            </ul>
                            <h3>费用信息</h3>
                            <ul class="list-group" id="feeInfo">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" role="dialog" id="editInfoModel">
    <div class="modal-dialog" role="document" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="">修改物业信息</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="editPropertyForm" method="post"
                                  class="form-horizontal">
                                <fieldset>
                                    <input type="hidden" name="id"/>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">物业编号</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="code" disabled="disabled"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">物业类型</label>

                                        <div class="col-sm-8">
                                            <select class="form-control" name="type" id="">
                                                <option value="1">商户</option>
                                                <option value="2">住宅</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">地址</label>

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="location"/>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-2 control-label">面积</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="propertySquare" name="propertySquare"
                                                   class="input_date form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">所属园区</label>
                                        <div class="col-sm-8">
                                            <input type="hidden" name="village" id="village"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">状态</label>
                                        <div class="col-sm-8">
                                            <select name="status" id="" class="form-control">
                                                <option value="-1">出租</option>
                                                <option value="1">自用</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-sm-9 col-sm-offset-2">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    var editTable;//全局的datatable变量
    $('#propertyListTable tbody').on( 'click', 'button#editRow', function () {
        $("#editInfoModel").modal("show");
        var data = editTable.row($(this).parents('tr') ).data();
        $("input[name=code]").val(data.code);
        $("input[name=id]").val(data.id);
        $("input[name=location]").val(data.location);
        $("input[name=propertySquare]").val(data.propertySquare);
//        console.log(data.villageId);
//        $("#village").val(data.villageId);
        console.log(data);

    });
    $('#propertyListTable tbody').on( 'click', 'button#detailRow', function () {
        $("#moreInfoModel").modal("show");
        $.ajax({
            type: "get",
            async: false,
            url: urlConfig.getOwnerInfoByPropertyID+data.id,
            dataType: "json", //返回数据形式为json
            success: function (result) {
                if (result.status) {
                    var html='<li class="list-group-item">姓名: <span id="name">'+result.jsonString.name+'</span></li>'+
                            '<li class="list-group-item">手机号码: <span id="phone">'+result.jsonString.phone+'</span></li>'+
                            '<li class="list-group-item">证件号码: <span id="identityCode">'+result.jsonString.identityCode+'</span></li>'+
                            '<li class="list-group-item">认证时间: <span id="authenticationTime">'+result.jsonString.authenticationTime+'</span></li>'+
                            '<li class="list-group-item">紧急联系人: <span id="urgent">'+result.jsonString.urgentName+'</span></li>';
                    $("#ownerInfo").html(html);
                }
                else
                {
                    $("#ownerInfo").html(result.errorMsg.description);
                }
            },
            error: function () {
                alert("服务器连接失败,请重试!");
            }
        });
        $.ajax({
            type: "get",
            async: false,
            url: urlConfig.getFeeInfoByPropertyID+data.id,
            dataType: "json", //返回数据形式为json
            success: function (result) {
                if (result.status) {
                    if(result.jsonString.length>0)
                        html="";
                    else
                        html="该物业未绑定费用";
                    for(var i in result.jsonString) {
                        html += '<li class="list-group-item">' +
                                '费用名称: <span id="name">' + result.jsonString[i].feeItemEntity.name + '</span>' +
                                '&ensp;费用单价:<span id="name">' + result.jsonString[i].feeItemEntity.ruleEntity.unitPrice +
                                '</span>'+
                                '</li>';
                    }
                    $("#feeInfo").html(html);
                }
                else
                {
                    $("#feeInfo").html("该物业未绑定费用");
                }
            },
            error: function () {
                alert("服务器连接失败,请重试!");
            }
        });
    });


    function selectVillage(){
        $('#village').select2({
            ajax: {
                url: urlConfig.search+"village",
                dataType: 'json',
                quietMillis: 250,
                data: function (term, page) {
                    return {
                        q: term
                    };
                },
                results: function (data, page) {
                    items=[];
                    $.each(data.jsonString,function(i,value){
                        item={};
                        console.log(value);
                        item.id=value.villageId;
                        item.text=value.name;
                        items.push(item);
                    });

                    return { results: items };
                },
                cache: true
            }
        });
    }
    //初始化表格数据
    function initDataTable(){
        editTable=$('#propertyListTable').DataTable({
            "processing":true,
            "serverSide": true,
            "ajax":{
                "url": urlConfig.propertyList,
                "dataSrc": "jsonString"
            },
            "columnDefs": [{
                "targets": 0,
                "data":"id",
                "visible": false,
                "orderable": false,
                "searchable": false
            },{
                "targets": 1,
                "data":"code",
                "visible": true,
                "orderable": false,
                "searchable": true

            },{
                "targets": 2,
                "data":"type",
                "visible": true,
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if (data==1)
                        return "商户";
                    else if (data==2)
                        return "住宅";
                    else if(data==3)
                        return "车位";
                    else
                        return "<font color='red'>数据异常</font>"
                }
            },{
                "targets": 3,
                "data":"location",
                "visible": true,
                "orderable": false,
                "searchable": false
            },{
                "targets": 4,
                "data":"propertySquare",
                "visible": true,
                "orderable": false,
                "searchable": false
            },{
                "targets": 5,
                "data": "villageId",
                "orderable": false,
                "searchable": false
                //TODO 根据园区id render得到园区的名称
            },{
                "targets": 6,
                "data": "status",
                "orderable": false,
                "searchable": false,
                "render": function ( data, type, row ) {
                    if (data==-1)
                        return "出租";
                    else if (data==1)
                        return "自用";
                    else
                        return "<font color='red'>数据异常</font>"
                }
            },{
                "targets": 7,
                "data": null,
                "orderable": false,
                "searchable": false,
                "defaultContent":
                    "<button id='detailRow' class='btn btn-primary' type='button'>查看</button>"
            },{
                "targets": 8,
                "data": null,
                "orderable": false,
                "searchable": false,
                "defaultContent":
                    "<button id='editRow' class='btn btn-primary' type='button'>编辑</button>&ensp;"+
                    "<button id='delRow' class='btn btn-primary' type='button'>删除</button>"
            }],
            "aaSorting": [[ 1, "asc" ]],
            "autoWidth":false,
            "sDom":
                    "<'box-content'<'col-sm-6'f><'col-sm-6 text-right'l><'clearfix'>>tr<'box-content'<'col-sm-6'i><'col-sm-6 text-right'p><'clearfix'>>",
            "language": {
                "emptyTable":     "没有相关数据",
                "info": "显示 _START_ 到 _END_ 条, 共 _TOTAL_ 条记录",
                "infoEmpty":      "没有相关数据",
                "infoFiltered":   "(筛选自 _MAX_ 条记录)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "每页显示 _MENU_ 条",
                "loadingRecords": "加载中",
                "processing":     "数据处理中",
                "search":         "搜索:",
                "zeroRecords":    "没有找到匹配数据",
                "paginate": {
                    "first":      "首页",
                    "last":       "末页",
                    "next":       "下一页",
                    "previous":   "上一页"
                },
                "aria": {
                    "sortAscending":  ":正序",
                    "sortDescending": ":倒序"
                }
            }
        });

    }

    function submitForm()
    {
        var fields = $("#editPropertyForm").serializeArray();
        console.log(fields);
        alert("修改成功!");
//
//        $.ajax({
//            type: "post",
//            async: false,
//            url: urlConfig.addFee,
//            data: fields,
//            dataType: "json", //返回数据形式为json
//            success: function (result) {
//                if (result.status) {
//                    alert("添加成功");
//                }
//                else
//                {
//                    alert(result.errorMsg.description);
//                }
//            },
//            error: function () {
//                alert("服务器连接失败,请重试!");
//            }
//        });
    }


    function propertyModifyValidator() {
        $('#editPropertyForm').bootstrapValidator({
            message: '存在非法输入',
            fields: {
                location: {
                    validators: {
                        notEmpty: {
                            message: '费用名不能为空'
                        }
                    }
                }
            }
        })
                .on("success.form.bv",function(e){
                    e.preventDefault();
                    submitForm();
                });
    }

    $(document).ready(function() {
        LoadSelect2Script(selectVillage);
        LoadDataTablesScripts(initDataTable);
        LoadBootstrapValidatorScript(propertyModifyValidator);
    });
</script>
