<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">用户资料录入</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="box">
            <div class="box-header">
                <div class="box-icons">
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content">
                <form id="adduserForm" method="post" action="" class="form-horizontal">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">业主编号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="userCode" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">姓名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">关系</label>
                            <div class="col-sm-5">
                                <select class="form-control" name="userType">
                                    <option value="1">业主</option>
                                    <option value="2">家属</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">车牌号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="xxxxx;xxxxx" name="carNum" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">电话号码</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phoneNumber" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">身份证号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="idCard" />
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label">入住时间</label>
                            <div class="col-sm-5">
                                <input type="text" id="liveDate" class="form-control" placeholder="">
                                <span class="fa fa-calendar form-control-feedback"></span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>房屋信息</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房屋产权</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="houseOwner" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">产权面积</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="houseArea" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">当前住户</label>
                            <div class="col-sm-5">
                                <select class="form-control" name="currentHost">
                                    <option value="1">出租</option>
                                    <option value="2">自住</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属园区</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="gardenID" id="whichGarden">
                                    <option value="">-- 选择园区 --</option>
                                    <option value="1">园区1</option>
                                    <option value="2">园区2</option>
                                    <option value="3">园区3</option>
                                    <option value="4">园区4</option>
                                    <option value="5">园区5</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="buildingID" id="whichBuilding">
                                    <option value="">-- 选择楼栋 --</option>
                                    <option value="1">楼栋1</option>
                                    <option value="2">楼栋2</option>
                                    <option value="3">楼栋3</option>
                                    <option value="4">楼栋4</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" name="unitID" id="whichUnit">
                                    <option value="">-- 选择单元 --</option>
                                    <option value="1">单元1</option>
                                    <option value="2">单元2</option>
                                    <option value="3">单元3</option>
                                    <option value="4">单元4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">房间编号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="roomCode" />
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //选择所属园区
    function selectEstate(){
        $('#whichEstate').select2();
        $.getScript('plugins/select2/select2_locale_zh-CN.js');
    }
    function userAddValidator(){
        $('#adduserForm').bootstrapValidator({
            message: '存在非法输入',
            fields: {
                username: {
                    message: '用户名不合法',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 10,
                            message: '用户名在2到10个字符之间'
                        }
                    }
                },
                address:{
                    validators: {
                        notEmpty: {
                            message: '地址不能为空'
                        }
                    }
                },
                carNum:{
                    validators: {
                        notEmpty: {
                            message: '车牌号不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9a-zA-Z]{5}(;[0-9a-zA-Z]{5})*$/,
                            message: '车牌号不合法'
                        }
                    }
                },
                phoneNumber: {
                    validators: {
                        notEmpty: {
                            message: '电话号码不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]{8,11}$/,
                            message: '电话号码不合法'
                        }
                    }
                }
            }
        });
    }
    $(document).ready(function() {
        //初始化日期选择器
        $('#liveDate').datepicker({setDate: new Date(),dateFormat:"yy-mm-dd",
            showButtonPanel:true,
            closeText:"关闭",
            yearSuffix: '年',
            currentText:'今天',
            showMonthAfterYear:true,
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
            dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
            dayNamesMin: ['日','一','二','三','四','五','六']
        });
        LoadSelect2Script(selectEstate);
        LoadBootstrapValidatorScript(userAddValidator);
    });
</script>
