<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/estate</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="entity/database/AdminEntity.hbm.xml"/>
        <mapping resource="entity/database/BuildingEntity.hbm.xml"/>
        <mapping resource="entity/database/ComplainEntity.hbm.xml"/>
        <mapping resource="entity/database/GardenEntity.hbm.xml"/>
        <mapping resource="entity/database/GroupEntity.hbm.xml"/>
        <mapping resource="entity/database/NoticeEntity.hbm.xml"/>
        <mapping resource="entity/database/ServiceEntity.hbm.xml"/>
        <mapping resource="entity/database/UnitEntity.hbm.xml"/>
        <mapping resource="entity/database/UserEntity.hbm.xml"/>
        <mapping resource="entity/database/UserServiceEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>